*{ box-sizing: border-box; }

@media screen and (max-width: 700px) 
{
    #row, #link 
    {   
      flex-direction: column;
    }
}
  

#start
{
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
}

#link
{
    justify-content: center;
    background-color: #333;
    display: flex;
}

#link a
{
    padding: 16px 30px;
    text-decoration: none;
    color: white;
}

#link a:hover
{   color: black; background-color: #ddd; }

.image
{
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

.x{ margin-bottom: 20px;}

#row
{
    display: flex;
}

.Title
{
    flex: 70%;
    padding: 20px;
}

.About
{
    flex: 30%;
    padding: 20px;
}

footer
{
    background-color: aqua;
    height: 80px;
    text-align: center;
    padding: 35px;
}